html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px; /* This adjusts the width of the popup*/
  height: 500px; /* This adjusts the height of the popup*/
  background-color: var(--background-primary);
  color: var(--text);
  overflow-y: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 10px 5px 10px;
  background-color: var(--background-primary);
  font-weight: bold;
  border-radius: 15px;
  
  .logo {
    display: flex;
    align-items: center;

    h1 {
      font-size: 1.5rem;
      color: var(--text);
      margin: 0;
    }
  }
}

.header-right {
  display: flex;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  /*
   * Add styling for the sidebar if needed
   */

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #1e1e1e;
    border-radius: 15px;
    overflow: hidden;
  }
}
