.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: cyan;
  color: var(--text);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: red;

}

.logo {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  h1 {
    font-size: 1.5rem;
    color: var(--text);
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100% - var(--header-height));
  background-color: var(--background);

  /*
   * Add styling for the sidebar if needed
   */

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--background);
  }
}
