.chat-messages {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 60px; /* adjust to match .chat-input height + padding */
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
}

.chat-message {
  padding: 8px 12px;
  border-radius: 12px;
  margin: 0px 10px 20px 10px;
  word-wrap: break-word;
  display: flex;
  align-items: center;
}

.chat-message p {
  margin: 0;
}

.message-content {
  padding: 8px 12px;
  border-radius: 12px;
  word-wrap: break-word;
  word-break: break-word;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 16px;
}

/* Q- for the message sent by the user */
.chat-message[id^="Q-"] {
  justify-content: flex-end;
}

.chat-message[id^="Q-"] .message-content {
  align-self: flex-end;
  background-color: #3f495c;
  color: white;
  margin-left: auto;
}

/* R- for the message sent by the AI */
.chat-message[id^="R-"] {
  justify-content: flex-start;
}

.chat-message[id^="R-"] .message-content {
  align-self: flex-start;
  background-color: #2f3542;
  color: white;
}

.dot-loader {
  width: 20px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side, #fff 90%, #0000) 0/calc(100%/3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}

@keyframes l1 {to{clip-path: inset(0 -34% 0 0)}}